In [1]:
#TASKS:
#•	The team wants to analyze each variable of the data collected through data summarization to get a basic understanding of the dataset and to prepare for further analysis.
#•	As mentioned earlier, a unique page view represents the number of sessions during which that page was viewed one or more times. A visit counts all instances, no matter how many times the same visitor may have been to your site. So the team needs to know whether the unique page view value depends on visits.
#•	Find out the probable factors from the dataset, which could affect the exits. Exit Page Analysis is usually required to get an idea about why a user leaves the website for a session and moves on to another one. Please keep in mind that exits should not be confused with bounces.
#•	Every site wants to increase the time on page for a visitor. This increases the chances of the visitor understanding the site content better and hence there are more chances of a transaction taking place. Find the variables which possibly have an effect on the time on page.
#•	A high bounce rate is a cause of alarm for websites which depend on visitor engagement. Help the team in determining the factors that are impacting the bounce.

In [2]:
#Assigning the csv data file to a Varible
dataset <- read.csv("1555058318_internet_dataset.csv")

In [3]:
dataset

      ï..Bounces Exits Continent Sourcegroup                Timeinpage
1     0          0     OC        (direct)                     18
2     0          0     N.America (direct)                      4
3     0          0     N.America Others                       35
4     0          0     N.America public.tableausoftware.com   70
5     0          0     N.America public.tableausoftware.com   81
6     0          0     N.America public.tableausoftware.com   75
7     0          0     N.America public.tableausoftware.com  186
8     0          0     N.America (direct)                    710
9     0          0     OC        (direct)                    712
10    0          0     AS        Others                      344
11    0          0     EU        Others                       27
12    0          0     EU        visualisingdata.com           0
13    0          0     N.America Others                      294
14    0          0     N.America public.tableausoftware.com  111
15    0          0     SA        (direct)                   1430
16    0          0     N.America (direct)                     29
17    0          0     N.America Others                      637
18    0          0     N.America google                       10
19    0          0     N.America google                       42
20    0          1     OC        (direct)                      0
21    0          1     SA        (direct)                      0
22    0          1     AS        Others                        0
23    0          1     EU        Others                        0
24    0          1     EU        visualisingdata.com           0
25    0          1     N.America (direct)                      0
26    0          1     N.America Others                        0
27    0          1     N.America public.tableausoftware.com    0
28    0          1     N.America Others                       10
29    0          1     AS        google                       23
30    0          1     EU        google                        6
...   ...        ...   ...       ...                        ...
32080 1          1     N.America google                      0
32081 1          1     N.America google                      0
32082 1          1     N.America google                      0
32083 1          1     N.America google                      0
32084 1          1     N.America google                      0
32085 1          1     N.America google                      0
32086 1          1     N.America google                      0
32087 1          1     N.America google                      0
32088 1          1     N.America google                      0
32089 1          1     N.America google                      0
32090 1          1     N.America google                      0
32091 1          1     N.America google                      0
32092 1          1     N.America google                      0
32093 1          1     N.America public.tableausoftware.com  0
32094 1          1     N.America Others                      0
32095 1          1     N.America tableausoftware.com         0
32096 1          1     N.America tableausoftware.com         0
32097 1          1     N.America Others                      0
32098 1          1     N.America Others                      0
32099 1          1     N.America Others                      0
32100 1          1     N.America visualisingdata.com         0
32101 1          1     EU        reddit.com                  0
32102 1          1     EU        t.co                        0
32103 1          1     EU        t.co                        0
32104 1          1     N.America t.co                        0
32105 1          1     N.America public.tableausoftware.com 12
32106 2          2     N.America (direct)                    0
32107 2          2     N.America (direct)                    0
32108 2          2     N.America (direct)                    0
32109 2          2     N.America google                      0
      Uniquepageviews Visits BouncesNew
1     1               0      0
2     1               0      0
3     1               0      0
4     1               0      0
5     1               0      0
6     1               0      0
7     1               0      0
8     1               0      0
9     1               1      0
10    1               1      0
11    1               1      0
12    1               1      0
13    1               1      0
14    1               1      0
15    1               1      0
16    1               1      0
17    1               1      0
18    1               1      0
19    2               1      0
20    1               0      0
21    1               0      0
22    1               0      0
23    1               0      0
24    1               0      0
25    1               0      0
26    1               0      0
27    1               0      0
28    1               0      0
29    1               1      0
30    1               1      0
...   ...             ...    ...
32080 1               1      0.01
32081 1               1      0.01
32082 1               1      0.01
32083 1               1      0.01
32084 1               1      0.01
32085 1               1      0.01
32086 1               1      0.01
32087 1               1      0.01
32088 1               1      0.01
32089 1               1      0.01
32090 1               1      0.01
32091 1               1      0.01
32092 1               1      0.01
32093 1               1      0.01
32094 1               1      0.01
32095 1               1      0.01
32096 1               1      0.01
32097 1               1      0.01
32098 1               1      0.01
32099 1               1      0.01
32100 1               1      0.01
32101 1               1      0.01
32102 1               1      0.01
32103 1               1      0.01
32104 1               1      0.01
32105 2               2      0.01
32106 2               2      0.02
32107 2               2      0.02
32108 2               2      0.02
32109 2               2      0.02

In [4]:
#•	The team wants to analyze each variable of the data collected through data summarization.
# to get a basic understanding of the dataset and to prepare for further analysis.
# I answer that using: summary()
summary(dataset)

   ï..Bounces         Exits            Continent
 Min.   : 0.000   Min.   : 0.000   AF       :  321
 1st Qu.: 0.000   1st Qu.: 1.000   AS       : 3171
 Median : 1.000   Median : 1.000   EU       : 6470
 Mean   : 0.713   Mean   : 0.906   N.America:20043
 3rd Qu.: 1.000   3rd Qu.: 1.000   OC       : 1356
 Max.   :30.000   Max.   :36.000   SA       :  748

                     Sourcegroup      Timeinpage       Uniquepageviews
 google                    :11542   Min.   :    0.00   Min.   : 1.000
 (direct)                  : 7532   1st Qu.:    0.00   1st Qu.: 1.000
 Others                    : 5360   Median :    0.00   Median : 1.000
 tableausoftware.com       : 2388   Mean   :   73.18   Mean   : 1.114
 t.co                      : 2249   3rd Qu.:   10.00   3rd Qu.: 1.000
 public.tableausoftware.com: 1354   Max.   :46745.00   Max.   :45.000
 (Other)                   : 1684
     Visits         BouncesNew
 Min.   : 0.000   Min.   :0.00000
 1st Qu.: 1.000   1st Qu.:0.00000
 Median : 1.000   Median :0.01000
 Mean   : 0.906   Mean   :0.00713
 3rd Qu.: 1.000   3rd Qu.:0.01000
 Max.   :45.000   Max.   :0.30000

In [5]:
# We can see that [ bounces min=0,max=30 ] and [exit min=0 max=36]
# Most of the visitors are from N.America.
# The most common source group is Google.
# The mean Time in the page is 73.
# We can see that the numerical data includes information like the maximum, minimum,Median , and the mean. 
# The categorical data like continent includes the data of the number of times the category has been repeated in the dataset.
# for example EU was repeated 6470 times.

In [6]:
## •	A unique page view represents the number of sessions during which that page was viewed one or more times. 
## A visit counts all instances, no matter how many times the same visitor may have been to your site.
## So the team needs to know whether the unique page view value depends on visits.
cor(dataset$Uniquepageviews,dataset$Visits)

[1] 0.8144457

In [7]:
A_1  <-aov(Uniquepageviews~Visits, data=dataset)
summary(A_1)

               Df Sum Sq Mean Sq F value Pr(>F)
Visits          1   8052    8052   63257 <2e-16 ***
Residuals   32107   4087       0
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [8]:
# The visits variable has a huge impact on Unique Pageviews.
# unique page values depend on visits.

In [9]:
## •	Find out the probable factors from the dataset, which could affect the exits.
##Exit Page Analysis is usually required to get an idea about why a user leaves the website for a session and moves on to another one. 
## Please keep in mind that exits should not be confused with bounces.

A_2<-aov(Exits~.,data = dataset)
summary(A_2)

                   Df Sum Sq Mean Sq   F value   Pr(>F)
ï..Bounces          1  10578   10578 1.043e+05  < 2e-16 ***
Continent           5      3       1 5.960e+00 1.62e-05 ***
Sourcegroup         8      7       1 8.760e+00 4.89e-12 ***
Timeinpage          1    130     130 1.279e+03  < 2e-16 ***
Uniquepageviews     1   1573    1573 1.552e+04  < 2e-16 ***
Visits              1      1       1 5.014e+00   0.0251 *
Residuals       32091   3254       0
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [10]:
# 1- sourcegroup 2- bounces 3-unique pageviews are significant. 
#Visits is less significant.
# exit from the site is affected by the factors of source group, bounces, and unique.pageviews.

In [11]:

## •	Every site wants to increase the time on page for a visitor. 
## This increases the chances of the visitor understanding the site content better and hence there are more chances of a transaction taking place. 
## Find the variables which possibly have an effect on the time on page.

A_3<-aov(Timeinpage~.,data = dataset)
  summary(A_3)

                   Df    Sum Sq   Mean Sq  F value   Pr(>F)
ï..Bounces          1 5.947e+07  59466495  422.868  < 2e-16 ***
Exits               1 1.304e+08 130400662  927.283  < 2e-16 ***
Continent           5 4.767e+06    953431    6.780 2.51e-06 ***
Sourcegroup         8 1.545e+06    193153    1.374    0.202
Uniquepageviews     1 1.791e+08 179133934 1273.826  < 2e-16 ***
Visits              1 1.073e+08 107321113  763.163  < 2e-16 ***
Residuals       32091 4.513e+09    140627
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [12]:
# All of the varibles have an effect on the time on page except the source group.

In [13]:
###•	A high bounce rate is a cause of alarm for websites which depend on visitor engagement.
##Help the team in determining the factors that are impacting the bounce.

dataset$Bounces = dataset$Bounces*0.01
B_1 <- glm(Bounces~Timeinpage+Continent+Exits+Sourcegroup+Uniquepageviews+Visits,data = dataset,family = "binomial")

Warning message in eval(family$initialize):
"non-integer #successes in a binomial glm!"Warning message:
"glm.fit: fitted probabilities numerically 0 or 1 occurred"

In [14]:
summary(B_1)

Call:
glm(formula = Bounces ~ Timeinpage + Continent + Exits + Sourcegroup +
    Uniquepageviews + Visits, family = "binomial", data = dataset)

Deviance Residuals:
      Min         1Q     Median         3Q        Max
-0.177602  -0.002589  -0.000092   0.000827   0.197209

Coefficients:
                                        Estimate Std. Error z value Pr(>|z|)
(Intercept)                           -9.4320750  6.7158811  -1.404    0.160
Timeinpage                            -0.0008964  0.0054479  -0.165    0.869
ContinentAS                            0.0086639  6.9008092   0.001    0.999
ContinentEU                           -0.0008007  6.7556296   0.000    1.000
ContinentN.America                     0.0233665  6.6433474   0.004    0.997
ContinentOC                            0.0280238  7.3001577   0.004    0.997
ContinentSA                            0.0317318  7.8777024   0.004    0.997
Exits                                  1.1821124  3.3880479   0.349    0.727
Sourcegroupfacebook                   -0.0475441 10.9902581  -0.004    0.997
Sourcegroupgoogle                     -0.1073246  1.7012407  -0.063    0.950
SourcegroupOthers                     -0.1081615  2.1631282  -0.050    0.960
Sourcegrouppublic.tableausoftware.com -0.2939098  4.9012946  -0.060    0.952
Sourcegroupreddit.com                 -0.0366040  4.6825693  -0.008    0.994
Sourcegroupt.co                        0.0090573  2.7446777   0.003    0.997
Sourcegrouptableausoftware.com        -0.1531199  3.1684149  -0.048    0.961
Sourcegroupvisualisingdata.com        -0.1184842  4.5889724  -0.026    0.979
Uniquepageviews                       -3.1989594  5.8362761  -0.548    0.584
Visits                                 2.2396256  5.2100228   0.430    0.667

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 2.3330  on 32108  degrees of freedom
Residual deviance: 1.0332  on 32091  degrees of freedom
AIC: 40.58

Number of Fisher Scoring iterations: 15

In [15]:
# The factors that are impacting the bounce:
#1- BouncesNew 2- Unique Pageviews 3- visits